[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "==1.2.3"
google-api-python-client = "*"
toml = "*"
irc = "*"
playsound = "*"
"discord.py" = "*"
pytest = "*"
pytest-asyncio = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
googleapis-common-protos = "*"
howlongtobeatpy = "==0.1.22"

[requires]
python_version = "3.9"

[dev-packages]
