[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
toml = "*"
irc = "*"
"discord.py" = "*"
pytest = "*"
pytest-asyncio = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
googleapis-common-protos = "*"
howlongtobeatpy = "*"
pynacl = "*"
twitchio = "*"
playsound = "==1.2.2"

[requires]
python_version = "3.11"

[dev-packages]
