[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
google-api-python-client = "*"
toml = "*"
irc = "*"
playsound = "*"

[requires]
python_version = "3.9"

[dev-packages]
